@import '../abstracts/variables';
@import '../abstracts/mixins';

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  &__option-link {
    @include reset-link;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5% 0;
    border-radius: 2px;
  }

  &__option-link:hover {
    @include hover-link;
  }

  &__options {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 80%);
    gap: 10%;
    width: 30%;
    height: 40vh;
    margin-top: 3%;
    border-radius: 2px;
    background-color: $primaryColor;
    place-content: center;
  }

  &__title {
    color: $fontSecondaryColor;
    font-size: $fontSizeLarge;
  }
}

@media only screen and (max-width: 600px) {
  .inicio {
    &__options {
      width: 80%;
    }

    &__title {
      color: $fontSecondaryColor;
      font-size: $fontSizeMedium;
    }
  }
}
