@import './variables';
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@mixin reset-link {
  font-size: $fontSizeMedium;
  text-decoration: none;
  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: color, background-color, opacity, font-size;
  color: $fontPrimaryColor;
}

@mixin hover-link {
  background-color: $thirdColor;
  color: $fontSecondaryColor;
  font-size: $fontSizeLarge - 5px;
  opacity: 0.9;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: color, background-color, opacity, font-size;
}

@mixin title {
  font-size: $fontSizeLarge;
}
