// // !Colors
// $primaryColor: #E5E8E8;
// $secondaryColor: #4E545C;
// $thirdColor: #32DC7E;
// $fontPrimaryColor: #000000d0;
// $fontSecondaryColor: #E5E8E8;
// $fontThirdColor: #000;

// // !Size Font

// $fontSizeLarge: 36px;
// $fontSizeMedium: 24px;
// $fontSizeSmall: 18px;
// $fontSizeSmallExtraSmall: 14px;
// $fontSizeParagraph: 12px;

// // ! Font

// // $fontInter: 'Inter', sans-serif;

// !Colors
$primaryColor: #fff;
$secondaryColor: #fff;
$thirdColor: #0352F2;
$fontPrimaryColor: #000;
$fontSecondaryColor: #fff;
$fontThirdColor: #fff;

// !Size Font

$fontSizeLarge: 36px;
$fontSizeMedium: 24px;
$fontSizeSmall: 18px;
$fontSizeExtraSmall: 14px;
$fontSizeParagraph: 12px;

// ! Font

// $fontInter: 'Inter', sans-serif;

