
// !Colors
$primaryColor: #fff;
$secondaryColor: #fff;
$thirdColor: #0352F2;
$fontPrimaryColor: #000;
$fontSecondaryColor: #fff;
$fontThirdColor: #fff;

// !Size Font

$fontSizeLarge: 36px;
$fontSizeMedium: 24px;
$fontSizeSmall: 18px;
$fontSizeExtraSmall: 14px;
$fontSizeParagraph: 12px;

// ! Font

// $fontInter: 'Inter', sans-serif;

